# MongoDB Atlas Connection String
MONGODB_URI=mongodb+srv://usuario:password@cluster.mongodb.net/lowpadel?retryWrites=true&w=majority

# JWT Secret para autenticación
JWT_SECRET=tu_super_secreto_cambiar_en_produccion

# Entorno
NODE_ENV=development
